:root{
    --border-radius: 5px;
    --status-1: #f55959;
    --status-2: #ffa530;
    --status-3: #95a950;
    --status-4: #89f57b;
    --background: rgb(39, 39, 47);
    --column-background: #1a1a1a;
    --card: rgb(43, 46, 52);
    --header: rgb(32, 42, 53);
    --border: #9b9b9b;
    --card-font: #378eff;
    --body-bg: rgb(45, 45, 45);
}

#new-board {
    width: 150px;
    margin-left: 16vw;
}

#new-board-div {
    margin-left: 16vw;
    gap: 5px;
    align-items: center;
}
body{
    margin-top: 100px;
    min-width: 100%;
    background: var(--body-bg);
    background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagmonds.png);
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1{
    user-select: none;
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    color: floralwhite;
    transform: scale(1.2, 1);
}

button,
.save-title,
.status-add,
input#save-board{
    cursor: pointer;
    background: var(--background);
    color: floralwhite;
    border: var(--border) 2px outset;
    font-size: 14px;
    font-family: 'Helvetica', 'sans-serif';
    padding: 4px 10px;
    border-radius: var(--border-radius);
}

input#save-board:hover,
button:hover{
    background: #333;
    scale: 1.05;
    transition: 0.3s;
}

input#save-board:active,
button:active{
    scale: 0.9;
}

.board-container{
    max-width: 70%;
    margin: 0 auto;
}

section.board{
    margin: 20px;
    background: var(--background);
    border-radius: var(--border-radius) var(--border-radius) 15px 15px;
    box-shadow: rgba(17, 17, 17, 0.8) 0 0 10px;
}

.board-header form {
    display: inline-flex;
    margin-right: auto;
}
.board-header{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    gap: 0.3em;
    background: var(--header);
    background-image: linear-gradient(
        135deg,
        #1f1f1f 10%,
        30%,
        var(--header) 90%
    );
/*    border: var(--border) 1px solid;*/
    border-radius: var(--border-radius);
}

.board-header.open {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

input.board-title,
.board-column-header input,
.card-title input{
    width: auto;
    user-select: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: 'Helvetica', 'sans-serif';
}
input.board-title,
.card-title input {
    font-weight: 1000;
}

.status-title input {
    background: floralwhite;
    border: var(--border) 1px inset;
}

.board-header input:hover,
.board-column-header input:hover,
.card-title input:hover,
.fa-trash-alt:hover,
.fa-archive:hover{
    color: floralwhite;
    transition: color 0.3s ease-in-out;
}

.board-column-header input {
    min-width: 0;
}

.card-title input{
    margin-top: 0.5em;
    width: 100%;
    color: var(--card-font);
    font-style: italic;
}

.board-title{
    margin: 13px;
    display: inline-block;
    font-size: 20px;
    color: var(--border);
}

.board-title, .board-add, .board-toggle{
    display: inline-block;
}

.status-add,
.status-title-input,
.board-toggle,
.board-add,
.save-title,
.save-card,
.card-title-input{
    margin: 0.5em 0.3em;
}

.board-toggle.close{
    rotate: 180deg;
    transition: 0.5s ease;
}


.board-columns{
    display: flex;
    flex-basis: auto;
    justify-content: space-evenly;
    max-height: 0;
}

.board-columns.open {
/*    border: var(--border) 1px solid;*/
    border-radius: 0 0 15px 15px;
    max-height: 100%;
}

.board-column {
    margin: 0.5em 0 0.5em 0;
    padding: 10px;
    color: darkgray;
    min-width: 0;
    background: var(--column-background);
    border-radius: 15px;
    box-shadow: rgba(17, 17, 17, 0.8) 0 0 5px;
/*    border: var(--border) 1px solid;*/
}


.board-column-header {
    justify-content: flex-end;
    display: flex;
    margin-bottom: 1em;
    padding: 0 0.5em;
}

.board-column-content{
    min-height: 49px;
}

/*.board-column-content:empty{
    !*This only works if the tag is really empty and there is not even whitespace inside*!
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: #eee;
}*/

.board-column-title{
    color: darkgray;
    font-weight: 650;
}

.card{
    position: relative;
    background: var(--card);
    color: darkgray;
    border-radius: var(--border-radius);
/*    border: var(--border) 1px solid;*/
    margin: 4px 0;
    padding: 4px;
    box-shadow: rgba(17, 17, 17, 0.8) 0 0 10px;
}

.board-column:nth-of-type(1) .card input{
    color: var(--status-1);
}

.board-column:nth-of-type(2) .card input {
    color: var(--status-2);
}

.board-column:nth-of-type(3) .card input{
    color: var(--status-3);
}

.board-column:nth-of-type(4) .card input{
    color: var(--status-4);
}

.card-remove{
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-title{
    padding-right: 16px;
}

.board-column-remove{
    display: block;
    cursor: pointer;
    width: 14px;
    height: 16px;
}
.card-archive {
    display: block;
    position: relative;
    width: 12px;
    font-size: 12px;
    cursor: pointer;
}
.card-text{
    margin: 10px;
}
.card-icon{
    float: right;
    align-self: end;
    margin-left: auto;
    height: 12px;
    width: 17px;
    cursor: pointer;
}

.highlight-dropzone{
    background-color: gray;
    opacity: 50%;
}