:root{
    --border-radius: 5px;
    --status-1: #ea5c5c;
    --status-2: #ffa530;
    --status-3: #95a950;
    --status-4: #89f57b;
    --background: #1f1f1f;
    --card: rgb(42, 46, 51);
    --header: rgb(32, 42, 53);
    --border: #7c7c7c;
    --card-font: #378eff;
}

#new-board {
    width: 150px;
    margin-left: 16vw;
}

#new-board-div {
    margin-left: 16vw;
}
body{
    margin-top: 100px;
    min-width: 100%;
    background: var(--background);
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1{
    user-select: none;
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    color: floralwhite;
    transform: scale(1.2, 1);
}

button{
    background: var(--background);
    color: floralwhite;
    border: var(--border) 2px outset;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 10px;
    border-radius: var(--border-radius);
}

button:hover{
    background: #333;
    scale: 1.1;
    transition: 0.3s;
}

button:active{
    scale: 0.9;
}
.board-container{
    max-width: 70%;
    margin: 0 auto;
}

section.board{
    margin: 20px;
    background: var(--background);
    border-radius: var(--border-radius);
}

.board-header form {
    display: inline-flex;
    margin-right: auto;
}
.board-header{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    background: var(--header);
    border: var(--border) 1px solid;
    border-radius: var(--border-radius);
}

.board-header.open {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.board-header input,
.board-column-header input,
.card-title input{
    width: auto;
    user-select: none;
    border: none;
    outline: none;
    background: none;
    cursor: default;
}

.board-column-header input {
    min-width: 0;
}

.card-title input{
    margin-top: 0.5em;
    width: 100%;
    color: var(--card-font);
}


.board-title{
    margin: 13px;
    display: inline-block;
    font-size: 20px;
    color: floralwhite;
}
.board-title, .board-add, .board-toggle{
    display: inline-block;
}

.board-toggle, .board-add, .save-title, .save-card, .card-title-input{

    justify-self: flex-end;
    margin: 13px;
}

.board-toggle.close{
    rotate: 180deg;
    transition: 0.5s ease;
}


.board-columns{
    display: flex;
    flex-basis: auto;
    justify-content: space-evenly;
    max-height: 0;
}

.board-columns.open {
    border: var(--border) 1px solid;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    max-height: 100%;
}

.board-column {
    margin: 0.5em 0 0.5em 0;
    padding: 10px;
    color: darkgray;
    min-width: 0;
    background: black;
    border-radius: var(--border-radius);
    border: var(--border) 1px solid;
}


.board-column-header {
    justify-content: flex-end;
    display: flex;
    margin-bottom: 1em;
}

.board-column-content{
    min-height: 49px;
}

/*.board-column-content:empty{
    !*This only works if the tag is really empty and there is not even whitespace inside*!
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: #eee;
}*/

.board-column-title{
    color: darkgray;
    font-weight: 1000;
}

.card{
    position: relative;
    background: #222;
    color: darkgray;
    border-radius: var(--border-radius);
    border: var(--border) 1px solid;
    margin: 4px 0;
    padding: 4px;
}

/*.board-column:nth-of-type(1) .card{
    background: var(--status-1);
}

.board-column:nth-of-type(2) .card{
    background: var(--status-2);
}

.board-column:nth-of-type(3) .card{
    background: var(--status-3);
}

.board-column:nth-of-type(4) .card{
    background: var(--status-4);
}*/

.card-remove{
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-title{
    padding-right: 16px;
}

.save-title{
    margin: 13px;
}

.board-column-remove{
    display: block;
    cursor: pointer;
    width: 14px;
    height: 16px;
}
.card-archive {
    display: block;
    position: relative;
    width: 12px;
    font-size: 12px;
    cursor: pointer;
}
.card-text{
    margin: 10px;
}
.card-icon{
    float: right;
    align-self: end;
    margin-left: auto;
    height: 12px;
    width: 17px;
    cursor: pointer;
}

.highlight-dropzone{
    background-color: gray;
    opacity: 50%;
}