#boards {
    background-color: green;
}
.card-container-modal{
  display: flex;
  flex-direction: row;
}
.card-modal {
  margin-right: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.header-modal {
  background: black;
  color: white;
  text-align: left;
  font-size: 15px;
}
.header-modal > p {
  margin-left: 20px;
}

.container-modal {
  font-size: 17px;
  background-color: grey;
  padding: 2px 16px;
}


/*
#new-board-div{
  flex-flow: row;
  justify-content: flex-end;
}
*/

.create-board{
  margin: auto;
  display: flex;
  max-width: 70%;
  flex-flow: row;
  justify-content: flex-end;
  gap: 10px;
  align-content: center;
  padding-right: 40px;
}

.option{
  background: var(--background);
  color: floralwhite;
  border: var(--border) 2px outset;
  font-size: 14px;
  font-family: sans-serif;
  padding: 0 10px;
  border-radius: var(--border-radius);
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#public:checked ~ .public,
#private:checked ~ .private{
  border-color: #0069d9;
  background: #0069d9;
  color: #fff;
}