.container{
    padding-top: 20vh;
    width: 35vw;
    height: auto;
}

.bi-exclamation-triangle-fill{
    width: 24px;
    height: 24px;
}

.form-bg {
    margin: 0px auto;
    width: 100%;
    max-width: 448px;
    background: greenyellow;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.form-inner {
    margin: 34px;
    width: auto;
}