.container{
    padding-top: 20vh;
    width: 35vw;
    height: auto;
}

.bi-exclamation-triangle-fill{
    width: 24px;
    height: 24px;
}

.register{
    display: none;
}

.login{
    display: block;
}