{% extends "user_sign.html" %}
{% block title %}
<div class="container-fluid">
    <h1>
        Sign up
    </h1>
</div>
{% endblock %}
{% block form %}
<form class="login">
  <div class="mb-3">
    <label for="name" class="form-label">Username</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary submit-login" formmethod="post">Login</button>
</form>
{% endblock %}